@media (max-width: 600px) {

  .blacktopline{
    display: inherit;
    height: auto;
  }
  .namenews{
    margin-top: auto;
  }
  .datanews{
    padding: 4%;
  }
  .info_title, .mention{
    display: inherit;
  }

  .content_mention{
    display: inherit;
  }


}